.navbar-brand {
    font-family: "MonteCarlo", cursive;
    font-size: 1.875rem;
}

.navbar{
    background-color:  var(--primary);
}

.nav-link.active {
    font-weight: bold !important;
    color: var(--active) !important; /* Change to your preferred color */
  }


.nav-link,a, .btn, button  {
    font-family: "Poppins", system-ui;
    color: var(--secondary);
    font-weight: 700;
    transition: .3s linear;
    font-size: 1.25rem;
}

.nav-link:focus, .nav-link:hover {
    color: var(--active);
    text-decoration: none;
}