:root {
  --primary: #9381ff;
  --hover: #7a65ef;
  --active:  #f4f803;
  --typed-text: #e066f8;
  --secondary: #f8f7ff;
  --tertiary: #b8b8ff;
  --timeline: #9381ff;
}

.text-info {
  color: var(--typed-text) !important;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary);
  /* background-image: url('../src/assets/background-dark.png');
  background-repeat: no-repeat;
  background-size: cover; */
}

h1, h2 {
  text-align: center;
  color: var(--tertiary);
}

.home, .about, .services, .contact {
  padding: 20px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1,h2,h3,h4,h5,h6, ul, li {
  font-family: "Lora", system-ui;
}

p, div, span {
  font-family: "Inter", system-ui;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary);
  transition: 0.3s linear;
  &:hover {
    background-color: var(--hover);
    color: var(--active);
  }  
}

.text-primary {
  color: var(--primary) !important;
}

.card {
  transition: .4s linear;
  &:hover {
    transform: scale(1.03);
  }
}

.bg-gradient-dark {
  background-image: conic-gradient(from 36deg at 20% 80%, #A100FFFF 0%, #000000 25%, #282A36 30%);
}